h2 {
  font-size: 24px;
  @media screen and (widht >= 992px) {
    font-size: 3rem !important;
  }
}
.btn {
  flex-grow: 1;
  max-width: none;
  @media screen and (width >= 992px) {
    flex-grow: 0;
  }
}
.curso-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  .contador-container{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--secondary);
    border-bottom: 2px solid var(--accent);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--heading);
    .contador{
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      color: var(--heading);
      span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.2rem;
        color: var(--heading);
        p{
          font-size: 1rem;
        color: var(--heading);
        }
      }
      .text-info-curso{
        font-size: 13px;
      }
    }
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 1rem;

    @media screen and (width >= 992px) {
      flex-direction: row;
    }
    @media screen and (width >= 1024px) {
      padding: 64px;
    }
    @media screen and (width >= 1200px) {
    justify-content: space-evenly;
    align-items: center;
        .btn{
            max-width: 477px;
        }
    }
    .hero-description {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media screen and (width >= 1200px) {
        max-width: 470px;
      }
      h1 {
        font-size: 2rem;
        position: relative;
        font-weight: 600;
      }
    }
    .hero-video {
      border-radius: 5px;
      width: 100% !important;
      height: fit-content !important;
      overflow: hidden;
      max-width: 828px;
      align-self: center;
      padding: 2.6rem;
      background-color: var(--secondary);
      border-radius: 1rem;
      video{
        border-radius: .5rem;
      }
    }
  }
  .ads-container {
    width: 100%;
    background-color: #011632;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (width >= 992px) {
      padding: 3rem 6rem;
      width: calc(100% - 128px);
      align-self: center;
      border-radius: 1rem;
      section{
        max-width: 880px;
        align-self: center;
        .btn{
            max-width: 240px;
            align-self: center;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
    .ad-image{
     max-width: 880px;   
     align-self: center;
     width: 100%;
    }
    }
    h2 {
      color: #fff;
    }
    .ad-image {
      height: 30%;
      border-radius: 5px;
      object-fit: cover;
      @media screen and (width >= 992px) {
        height: 16rem;
      }
    }
    section{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
  }
  .content-container {
    min-height: 100vh;
    padding: 5rem 1rem;
    text-align: center;
    h2 {
    }
    .content-wrapper {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .number {
          width: 70px;
          height: 70px;
          background-color: #25b4f8;
          font-weight: 600;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          color: #fff;
        }
        h3 {
          font-weight: 500;
          font-size: 1.3rem;
        }
        p {
          margin-top: -1rem;
          max-width: 387px;
        }
      }
    }
    @media screen and (width >= 428px) {
      .content-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    }
    @media screen and (width >= 992px) {
      .content-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .teachers-container {
    background-color: #e6f6fe;
    position: relative;
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      position: relative;
      z-index: 1;
    }
    .vector {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
    }
  }
  .promesa {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    gap: 1rem;
    @media screen and (width >= 1200px) {
        text-align: center;
    }
    .btn {
      flex-grow: 0;
      width: 100%;
      @media screen and (width >= 1200px) {
        max-width: 477px;
        align-self: center;
      }
    }
    .items-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        padding: 1rem 0;
        list-style: circle;
        font-size: 14px;
        color: #3c4959;
      }
    }
  }
}
